[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ENMTools"]
	path = ENMTools
	url = https://github.com/danlwarren/enmtools
[submodule "rwty"]
	path = rwty
	url = https://github.com/danlwarren/rwty
